@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>
    Este projeto foi desenvolvido por Sérgio Lacerda como atividade avaliativa para o programa
    Aceleração Global Dev #3 Avanade, na plataforma Digital Innovation One.
</p>
<p>
    <a href="https://br.linkedin.com/in/sergiolacerda" target="_blank">LinkedIn</a>
    <br />
    <a href="https://github.com/sergio-lacerda" target="_blank">GitHub</a>
</p>
